<div class='items'>
    <div class='item' *ngFor='let item of items'>
        <div class='imageContainer'>
            <img class='image' src='{{item.image}}' alt='Image of {{item.name}}'>
        </div>
        <div class='name'>{{item.name}}</div>
        <div class='price totalPrice'>
            {{formatPrice(item.totalPrice, true)}}
            <div class='amount' *ngIf='item.amount > 1'>
                ({{formatPrice(item.price, true)}} / {{item.amount}})
            </div>
        </div>
        <div class='price totalProfitSP logoPriceContainer'>
            <div *ngIf='!item.totalProfitSP; else SP' class='priceValue'>—</div>
            <ng-template #SP>
                <a class='priceEmphasis priceValue'
                    [ngClass]="{'pos': item.totalProfitSP >= 0, 'neg' : item.totalProfitSP < 0 }" href='{{item.linkSP}}'
                    target="_blank">{{formatPrice(item.totalProfitSP, false)}}</a>
            </ng-template>
        </div>
        <div class='price totalProfitSCM logoPriceContainer'>
            <div *ngIf='!item.totalProfitSCM; else SCM' class='priceValue'>—</div>
            <ng-template #SCM>
                <a class='priceEmphasis priceValue'
                    [ngClass]="{'pos': item.totalProfitSCM >= 0, 'neg' : item.totalProfitSCM < 0 }"
                    href='{{item.linkSCM}}' target="_blank">{{formatPrice(item.totalProfitSCM, false)}}</a>
            </ng-template>
        </div>
        <div class='date'>{{formatDate(item.date)}}</div>
    </div>

    <div class='loadingBar' (click)='loadItems()' *ngIf='itemsCopy.length > 5 && itemsCopy.length != items.length'>
        Load other {{itemsCopy.length - itemShowAmount}} item{{itemsCopy.length - itemShowAmount > 1 ? 's' :
        ''}} ...
    </div>
</div>