<button (click)='get(true)'>getItemsFromSpecifiedSteamInventory</button>

<div class='item' *ngFor='let item of inventory.items'>
    <img class='image' src='{{item.image}}' alt='Image of {{item.name}}'>
    <div class='name'>{{item.name}}</div>
    <input class='price' type='number' value=0>
    <input class='amount' type='number' onkeypress='return (event.charCode == 0 || event.charCode == 8 || event.charCode == 13) ?
        null : event.charCode >= 48 && event.charCode <= 57' value='{{item.amount}}' [(ngModel)]='item.amount'>
    <select class='profile'>
        <option *ngFor='let profile of profiles' value='{{profile.id}}'>{{profile.name}}</option>
    </select>
</div>

<button (click)='post()'>postItems</button>