<div class='history' *ngIf='history && history.length > 0; else loading'>
    <button (click)='deleteAll()'>DELETE ALL</button>
    <div class='historyEntryContainer' *ngFor='let historyEntry of history'>
        <div class='historyEntry {{historyEntry.type}}'>
            <div class='contents'>{{historyEntry.contents}}</div>
            <div class='date'>{{formatDate(historyEntry.date)}}</div>
            <button class='deleteButton' (click)='delete(historyEntry.id)'>🗑</button>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading />
</ng-template>