<app-search (get)='get()' (reset)='reset()' [type]="'itemSummary'"></app-search>

<app-loading *ngIf='!itemSummary.items || itemSummary.items.length == 0; else display' />

<ng-template #display>
    <app-item-detail [items]='itemSummary.items'></app-item-detail>

    <div class='itemSummaryContainer'>
        <div class="itemSummary">
            <div class='text amountSummaryText'>Amount</div>
            <div class='summary amountSummary'>{{itemSummary.amount}}</div>
            <div class='text totalPriceSummaryText'>Spend</div>
            <div class='summary totalPriceSummary'>{{formatPrice(itemSummary.totalPrice, true)}}</div>
            <div class='text totalProfitSPText'>Profit</div>
            <div [ngClass]="{'pos': itemSummary.totalProfitSP >= 0, 'neg' : itemSummary.totalProfitSP < 0 }"
                class='summary totalProfitSP'>{{formatPrice(itemSummary.totalProfitSP, false)}}</div>
            <div class='text totalProfitSCMText'>Profit</div>
            <div [ngClass]="{'pos': itemSummary.totalProfitSCM >= 0, 'neg' : itemSummary.totalProfitSCM< 0 }"
                class='summary totalProfitSCM'>{{formatPrice(itemSummary.totalProfitSCM, false)}}</div>
        </div>
    </div>
</ng-template>