.pos {
    color: var(--cs2Green);
}

.neg {
    color: var(--cs2Red);
}

.itemSummaryContainer {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1rem 0 1rem 0;
}

.itemSummary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'amountSummaryText totalPriceText totalProfitSPText totalProfitSCMText'
        'amountSummary totalPrice totalProfitSP totalProfitSCM';
    background-color: var(--cs2DarkBlue);
    border-radius: 0.25rem;
    padding: 1rem 0;
    width: 100%;
    max-width: 64rem;
}

.text {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 0.5rem;
}

.summary {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}

.amountSummaryText {
    grid-area: amountSummaryText;
}

.amountSummary {
    grid-area: amountSummary;
}

.totalPriceText {
    grid-area: totalPriceText;
}

.totalPrice {
    grid-area: totalPrice;
}

.totalProfitSPText {
    grid-area: totalProfitSPText;
}

.totalProfitSP {
    grid-area: totalProfitSP;
}

.totalProfitSCMText {
    grid-area: totalProfitSCMText;
}

.totalProfitSCM {
    grid-area: totalProfitSCM;
}